@font-face {
    font-family: 'IBM Plex Sans Medium';
    src: url('../fonts/woff2/IBMPlexSans-Medium.woff2') format('woff2'),
        url('../fonts/woff/IBMPlexSans-Medium.woff') format('woff'),
        url('../fonts/ttf/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}